body{
	font-family: Arial,Tahoma,sans-serif;
	padding: 0;
	margin: 0;
	color: #272c2f;
	letter-spacing: .02em;
}
.container{
	width: 960px;
	margin: 0 auto;
}
div, p, form, input, a, span, button, textarea{
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
} 
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
h2{
	font-weight: bold;
	font-size: 19px;
 	color: #272c2f;
}
.navigation{
	background: #455991;
    color: #fff;
    padding: 33px 0 36px 0;
    box-shadow:  0 3px 9px rgba(0, 0, 0, 0.28);
}
.logo{
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}
.menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.menu li{
margin-right: 29px;
}
.menu li a{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}
.phone{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.container{
	margin: 0 auto;
	width: 960px;
} 
.header h1{
	font-size: 23px;
	font-weight: bold;
	padding: 76px 0px 0px 0px;
}
.subtitle{
 	margin-bottom: 40px;
	line-height: 1.57em;
	width: 340px;
	font-size: 14px;
	font-weight: normal;
	color: #828899;
	margin-top: 12px;
}
.card-title{
	text-transform: none;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 20px; 
}
.card-text{
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5em;
}
.card-link{
	display: block;
	margin-top: 15px;
	color: #22a2ec;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.cards{
	align-items: flex-start;
}
.card {
	width: 308px;
	border: 1px solid #d5d5d5;
	padding: 30px 24px 30px 30px;
}
.shadow{
	box-shadow:  0 0 24px rgba(0, 0, 0, 0.33 );
	border-radius: 15px;
} 
.second{
	padding-top: 50px;
}
.form{
	height: 550px;
	width: 410px;
}
.form h2{
	margin-bottom: 30px;
}
.blue-card{
    border-radius: 16px;
	width: 546px;
	background: #184c6b;
	padding: 46px 50px 41px 43px;
	color: #c0ddee;
}

textarea{
	resize: none;
	width: 359px;
	height: 124px;
	color: #a9aaab;
	border: 1px solid #d6d6d6;
	font-weight: normal;
	font-size: 15px; 
	color: #a9aaab;
	padding: 15px 0 0 23px;
}
.form input{
	font-family: Arial,Tahoma,sans-serif;
	font-weight: normal;
	font-size: 15px;
	color: #a9aaab;
	border: 1px solid #d6d6d6;
	width: 239px;
	padding-left: 23px;
	margin-bottom: 12px;
	height: 46px;
}
.send{
	font-family: Arial,Tahoma,sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #272c2f;
	background: #ebce0d;
	width: 166px;
	height: 43px;
	border: none;
	cursor: pointer;
	margin-top: 17px;
}
.info{
	margin-top: 20px;
	font-size: 12px;
	font-weight: normal;
	color: #989c9f;
}
.second .flex{
	 align-items: flex-start; 
}
.blue-card-box p{
	margin-bottom: 20px;
}
.bluecard{
	color: #c0ddee;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.blue-card-box {
	line-height: 1.5em;
	width: 209px;
	font-size: 14px;
	font-weight: normal;
}
.blue-card-title{
	font-weight: bold;
	font-size: 17px;
	text-transform: uppercase;
    margin-bottom: 22px;
}
.foot{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 90px;
	background: #455991;
}
.footer .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container .white-block{
	border-radius: 2px;
	line-height: 35px;
	text-align: center;
	font-family: 12px;
	color: #455991;
	height: 35px;
	background: #fff;
	width: 229px; 
}
.foot p{
	font-size: 13px;
	font-weight: normal;
	color: #fff;
}
.foot button{
	height: 37px;
	width: 143px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	background: transparent;
	font-family: Arial,Tahoma,sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.foot .oval{
	border-radius: 20px;
}
.block{
	border-radius: 5px;
	width: 230px;
	background: #fff;
}
.block p{
	padding-left: 20px;
	color: #455991;
}















